/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
a:active{color: initial;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*==========================================================================*/
/*
font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;
*/
[class*="__container"] {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}
/* PC */
@media (max-width: 1087px) {
	[class*="__container"] {
		max-width: none;
	}
}
/* TABLET */
@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: none;
	}
}
/* MOBILE */
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
	}
}
/* MOBILE SMALL*/
@media (max-width: 479.98px){
}
a {
   color: #33272A;
}
.wrapper {
   min-height: 100vh;
   border: 6px solid transparent;
   border-image: linear-gradient(to right, #eeb4b4, #FF6099) 1;
   background-color: #FAEEE7;
   font-family: 'Merriweather', serif;
   font-size: 16px;
   line-height: 1.5;
   padding: 12px 0;
   color: #33272A;
   overflow: hidden;
}
/*=================================HEADER====================================*/
.header {
   margin: 0 0 30px 0;
}
.menu__nav {
   padding: 25px 0;
}
.menu__list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}
.menu__item {
   font-weight: 700;
   font-size: 1.25rem;
   line-height: 1.5;
   margin: 0 15px 0 0;
   position: relative;
}
.menu__item a {
   position: relative;
   z-index: 3;
}
.menu__item:last-child {
   margin: 0 0 0 0;
}
.menu__item::after {
   content: "";
   display: inline-block;
   position: absolute;
   right: 0;
   top: 22px;
   width: 100%;
   height: 6px;
   background-color: #F7C9C9;
   z-index: 1;
   transform: scaleX(0);
   transform-origin: bottom right;
   transition: transform 0.3s ease-out;
}
.menu__item:hover.menu__item::after {
   transform: scaleX(1);
   transform-origin: bottom left;
}
.header__hero {
   padding: 120px 0;
   display: flex;
   justify-content: space-between;
}
.header__text {
   padding: 0 15px 0 0;
   font-size: 1.5rem;
   line-height: 1.5;
}
.title {
   font-family: 'Playfair Display', serif;
   font-size: 4rem;
   line-height: 1.5;
   font-weight: 700;
   text-align: center;
}
.header__title {
   text-align: left;
   margin: 110px 0px 45px 0px;
}
.header__info {
   margin: 0px 0px 25px 0px;
}
.header__links {
   margin: 0px 0px 25px 0px;
   text-transform: uppercase;
}
.links {
   display: flex;
   flex-wrap: wrap;
}
.header__links .links__item {
   margin: 0px 20px 0px 0px;
}
.links__item:last-child {
   margin: 0px 0px 0px 0px;
}
.links__text {
   color: #594a4e;
   font-weight: 700;
   font-size: 1.5rem;
   line-height: 1.5;
}
.links__text:hover {
   color: #dba3a4;
}
.image {
   border-radius: 50%;
   border: 10px dotted #fa709a;
}
.header__image {
}
@media (max-width: 991.98px) {
   .header__hero {
      padding: 80px 0;
   }
}
@media (max-width: 767.98px) {
   .header__hero {
      padding: 60px 0 30px 0;
      flex-direction: column-reverse;
      align-items: center;
   }
   .title {
      font-size: 3rem;
   }
   .header__title {
      margin: 30px 0px 25px 0px;
      text-align: center;
   }
   .header__text {
      text-align: center;
      font-size: 1.25rem;
   }
   .links {
      justify-content: center;
   }
   .links__text {
      font-size: 1.25rem;
   }
   .header__image .image {
      width: 350px;
      height: 350px;
   }
}
/*=================================MAIN====================================*/
.main {
}
.main__container {
}
/*===============================MAIN=ABOUT===================================*/
.about {
   margin: 0px 0px 30px 0;
}
.about__title {
}
.subtitle {
   font-family: 'Playfair Display', serif;
   font-size: 2.25rem;
   line-height: 1.5;
   font-weight: 700;
   text-align: center;
   margin: 0 0 30px 0;
}
.about__body {
}
.about__box1 .box__image{
   position: relative;
}
.about__box1 .box__image::after {
   content: '';
   position: absolute;
   top: 100px;
   left: 210px;
   width: 100px;
   height: 100px;
   background: url("img/icon1.png") 0 0/100% no-repeat;
}
.about__box2 .box__image{
   position: relative;
}
.about__box2 .box__image::before {
   content: '';
   position: absolute;
   right: 110%;
   top: -10%;
   width: 100%;
   height: 100%;
   background: url("img/icon2.svg") 100% 100% no-repeat;
}
.about__box3 .box__image{
   position: relative;
}
.about__box3 .box__image::after {
   content: '';
   position: absolute;
   left: -30%;
   top: -18%;
   width: 60px;
   height: 100px;
   background: url("img/icon3.png") 0 0/100% no-repeat;
}
.box {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px 0;
}
.about__box2.box {
   flex-direction: row-reverse;
}
.box__image-container {
   flex: 1 1 auto;
   display: flex;
   justify-content: center;
}
.box__image {
}
.box__text {
   max-width: 700px;
   text-align: center;
   font-size: 1.25rem;
   line-height: 1.5;
   padding: 15px;
}
@media (max-width: 1087px) {
   .about__box1 .box__image::after, .about__box2 .box__image::before, .about__box3 .box__image::after {
      display: none;
   }
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
   .box {
      flex-direction: column;
   }
   .box__image {
      margin: 15px 0;
   }
   .about__box2.box {
      flex-direction: column;
   }
}
/*===============================MAIN=SKILLS===================================*/
.skills {
   margin: 0px 0px 60px 0;
}
.skills__title {
}
.skills__body {
}
.block {
   display: flex;
   padding: 20px 0;
   justify-content: space-between;
   align-items: center;
}
.block__parent {
   flex: 1 1 auto;
   max-width: 900px;
   height: 50px;
}
.block__scale {
   background: linear-gradient(90deg, #FF8BA7 0%, #FFBABD 50%, #FAEEE7 100%);
   border: 4px solid #33272A;
   height: 100%;
   border-radius: 15px;
}
.block__name {
   font-size: 1.5rem;
   line-height: 1.5;
   font-weight: 700;
   padding: 0 0 0 10px;
   max-width: 200px;
   overflow-wrap: break-word;
}
.skills__block1 .block__scale {
   max-width: 75%;
}
.skills__block2 .block__scale {
   max-width: 75%;
}
.skills__block3 .block__scale {
   max-width: 50%;
}
.skills__block4 .block__scale {
   max-width: 60%;
}
.skills__block5 .block__scale {
   max-width: 45%;
}
@media (max-width: 991.98px) {
   .block {
      padding: 15px 0;
   }
}
@media (max-width: 767.98px) {
   .block {
      padding: 15px 0;
   }
   .block__parent {
      height: 40px;
   }
   .block__name {
      font-size: 1.25rem;
   }
}
/*===============================MAIN=PORTFOLIO===================================*/
.portfolio { 
   margin: 0px 0px 60px 0;
}
.portfolio__title {
}
.title {
}
.portfolio__body {
   display: flex;
   flex-wrap: wrap;
   padding: 15px 0;
   margin: -5px;
}
.web {
   flex: 1 1 30%;
   position: relative;
   margin: 5px;
}
.web img {
   width: 100%;
   height: 100%;
}
.web__button {
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: 3;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.6);
   display: flex;
   visibility: hidden;
   align-items: center;
   justify-content: center;
}
.web:hover .web__button{
   visibility: visible;
}
.web__text {
   background: #FF8BA7;
   border-radius: 10px;
   padding: 10px;
}
.portfolio__box1 {
}
.portfolio__box2 {
}
.portfolio__box3 {
}
.portfolio__box4 {
}
.portfolio__box5 {
}
.portfolio__box6 {
}
.portfolio__box7 {
}
.portfolio__box8 {
}
@media (max-width: 991.98px) {
   .web__button {
      display: none;
   }
}
@media (max-width: 767.98px) {
   .web__button {
      display: none;
   }
}
/*===============================FOOTER===================================*/
.footer {
   margin: 0 auto;
   max-width: 800px;
}
.footer__title {
   padding: 10px 0px 30px 0px;
}
.footer__body {
   border: 4px solid #33272A;
   border-radius: 20px;
   padding: 40px 15px 50px 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 0 40px 0;
}
.footer__subtitle {
   font-size: 1.5rem;
   line-height: 1.5;
   font-weight: 700;
   text-align: center;
   margin: 0 0 40px 0;
}
.footer__button {
   display: inline-block;
   padding: 15px 40px;
   background-color: #F77E9A;
   color: #fff;
   font-size: 2rem;
   line-height: 1.5;
   border-radius: 8px;
   margin: 0px 0px 60px 0px;
   transition: background-color .3s;
}
.footer__button:hover {
   background-color: #e2216a;
}
.footer__links {
}
.links {
}
.footer__links .links__item {
   margin: 0px 30px 0px 0px;
}
.footer__links .links__item:last-child {
   margin: 0px 0px 0px 0px;
}
.links__text {
}
@media (max-width: 991.98px) {
   .footer__body {
      padding: 20px 15px 40px 15px;
   }
   .footer__subtitle {
      margin: 0 0 20px 0;
      font-size: 1.25rem;
   }
   .footer__button {
      margin: 0px 0px 40px 0px;
      font-size: 1.5rem;
   }
}

.header__menu {
}
.menu {
}
.menu__icon {
}
.menu__nav {
}
.menu__list {
}
.menu__item {
}
.menu__link {
}

@media (max-width: 767.98px) {
   .menu__nav:active .wrapper {
   position: relative;
   padding: 0;
   border: none;
   }
   .menu__nav:active [class*="__container"] {
      padding: 0;
   }
   .header__menu {
      position: relative;
   }
   .menu__nav {
      display: none;
   }
   .menu__nav {
      position: absolute;
      min-height: 100vh;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.75);
      padding: 80px 0 0 0;
   }
   .menu__list {
      display: flex;
      flex-direction: column;
   }
   .menu__item {
      margin: 0 0 35px 0;
   }
   .menu__item::after {
      content: none;
   }
   .menu__link {
      font-size: 1.5rem;
      line-height: 1.5;
      color: #fff;
   }
   .menu__link:hover {
      color: #F7C9C9;
   }
   .menu__icon {
      height: 26px;
      width: 40px;
      position: absolute;
      top: 30px;
      right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
   }
   .line1 {
      width: 30px;
      height: 2px;
      background-color: #33272A;
   }
   .line2 {
      width: 40px;
      height: 2px;
      background-color: #33272A;
   }
   .line3 {
      width: 30px;
      height: 2px;
      background-color: #33272A;
   }
}