/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
a:active{color: initial;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*==========================================================================*/
/*
font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;
*/
[class*="__container"] {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}
/* PC */
@media (max-width: 1087px) {
	[class*="__container"] {
		max-width: none;
	}
}
/* TABLET */
@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: none;
	}
}
/* MOBILE */
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
	}
}
/* MOBILE SMALL*/
@media (max-width: 479.98px){
}
a {
   color: #33272A;
}
.wrapper-border {
   padding: 6px;
   background: linear-gradient(to right, #F4E2BD, #D8BB84);
}
.wrapper {
   min-height: 100vh;
   background-color: #F0F0F0;
   font-family: 'Merriweather', serif;
   font-size: 16px;
   line-height: 1.5;
   padding: 12px 0;
   color: #33272A;
   overflow: hidden;
}
/*=================================HEADER====================================*/
.header {
   margin: 0 0 30px 0;
}
.header__menu {
   margin: 0 -15px;
}
/*===================================BURGER====================================*/
.menu__nav {
   padding: 25px 15px;
   display: flex;
}
.hidden {
   opacity: 0;
   visibility: hidden;
   position: absolute;
   left: -999999px;
}
.burger {
   position: relative;
   width: 40px;
   height: 26px;
   display: none;
   justify-content: center;
}

.menu__list {
   flex: 1 1 100%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   opacity: 1;
   visibility: visible;
   position: static;
   justify-content: space-between;
}
.menu__item {
   font-weight: 700;
   font-size: 1.5rem;
   line-height: 1.5;
   position: relative;
}
.menu__item + .menu__item {
   margin-left: 15px;
}
.menu__item a {
   position: relative;
   z-index: 3;
}
.menu__item::after {
   content: "";
   display: inline-block;
   position: absolute;
   right: 0;
   top: 20px;
   width: 100%;
   height: 8px;
   background-color: #E3CB9A;
   z-index: 1;
   transform: scaleX(0);
   transform-origin: bottom right;
   transition: transform 0.3s ease-out;
}
.menu__item:hover.menu__item::after {
   transform: scaleX(1);
   transform-origin: bottom left;
}
@media (max-width: 767.98px) {
   .burger {
      display: flex;
   }
   .header__menu {
      position: relative;
   }
   .menu__nav {
      justify-content: flex-end;
   }
   .menu__list {
      position: absolute;
      flex-direction: column;
      top: 100%;
      right: 0;
      left: 0;
      background-color: rgba(240, 240, 240, .7);
      opacity: 0;
      visibility: hidden;
      text-align: center;
      padding: 100px 0 40px 0;
   }
   .menu__item {
      margin: 0 0 35px 0;
   }
   .menu__item + .menu__item {
      margin-left: 0;
   }
   .menu__link {
      font-size: 1.5rem;
      line-height: 1.5;
   }
   .menu__item::after {
      display: none;
   }
   .menu__link:hover {
      color: rgba(51, 39, 42, .6);
      transition: color .1s ease-in;
   }
   .burger::before,
   .burger span,
   .burger::after {
      position: absolute;
      height: 2px;
      border-radius: 2px;
      background: #33272A;
   }
   .burger::before,
   .burger::after {
      content: "";
   }
   .burger::before {
      top: 0;
      width: 30px;
   }
   .burger span {
      top: 13px;
      width: 40px;
   }
   .burger::after {
      bottom: 0;
      width: 30px;
   }
   #burger:checked + .burger::before {
      transition: transform .3s ease-in;
      transform: rotate(45deg);
      top: 12px;
   }

   #burger:checked + .burger span {
      opacity: 0;
   }

   #burger:checked + .burger::after {
      transition: transform .3s ease-in;
      transform: rotate(-45deg);
      bottom: 12px;
   }

   #burger:checked ~ .menu__list {
      transition: opacity .3s ease-in;
      opacity: 1;
      visibility: visible;
   }
}
/*================================================================================*/
.header__hero {
   padding: 120px 0;
   display: flex;
   justify-content: space-between;
}
.header__col {
   padding: 0 15px 0 0;
   font-size: 1.5rem;
   line-height: 1.5;
}
.title {
   font-family: 'Playfair Display', serif;
   font-size: 4rem;
   line-height: 1.5;
   font-weight: 700;
   text-align: center;
}
.header__title {
   text-align: left;
   margin: 110px 0px 45px 0px;
}
.header__text {
   margin: 0px 0px 25px 0px;
}
.header__links {
   margin: 0px 0px 20px 0px;
   text-transform: uppercase;
   text-decoration: underline;
}
.header__links .links__item + .links__item {
   margin: 0px 0px 0px 30px;
}
.links {
   display: flex;
   flex-wrap: wrap;
}
.links__item:last-child {
   margin: 0px 0px 0px 0px;
}
.links__text {
   color: #594a4e;
   font-weight: 700;
   font-size: 1.5rem;
   line-height: 1.5;
}
.links__text:hover {
   color: #E3CB9A;
   transition: color .1s;
}
.image {
   border-radius: 50%;
   border: 6px solid #E3CB9A;
}
.header__image {
   flex: 0 0 380px;
   height: 380px;
   width: 380px;
   background-size: auto;
   background-repeat: no-repeat;
}
@media (max-width: 991.98px) {
   .header__hero {
      padding: 80px 0;
   }
}
@media (max-width: 767.98px) {
   .header__hero {
      padding: 40px 0 30px 0;
      flex-direction: column-reverse;
      align-items: center;
   }
   .title {
      font-size: 3rem;
   }
   .header__title {
      margin: 30px 0px 25px 0px;
      text-align: center;
   }
   .header__col {
      text-align: center;
      padding: 0;
   }
   .links {
      justify-content: center;
   }
   .header__links .links__item + .links__item {
      margin: 0px 0px 0px 30px;
   }
   .header__image {
      flex: 0 0 350px;
      width: 350px;
      height: 350px;
   }
}
/*===============================MAIN=ABOUT===================================*/
.about {
   margin: 0px 0px 30px 0;
}
.subtitle {
   font-family: 'Playfair Display', serif;
   font-size: 2.25rem;
   line-height: 1.5;
   font-weight: 700;
   text-align: center;
   margin: 0 0 30px 0;
}
.about__box1 .box__image{
   position: relative;
}
.about__box1 .box__image::after {
   content: '';
   position: absolute;
   top: 100px;
   left: 210px;
   width: 100px;
   height: 100px;
   background: url("img/icon1.svg") 0 0/100% no-repeat;
}
.about__box2 .box__image{
   position: relative;
}
.about__box2 .box__image::before {
   content: '';
   position: absolute;
   right: 110%;
   top: -10%;
   width: 100%;
   height: 100%;
   background: url("img/icon2.svg") 100% 100% no-repeat;
}
.about__box3 .box__image{
   position: relative;
}
.about__box3 .box__image::after {
   content: '';
   position: absolute;
   left: -40%;
   top: -22%;
   width: 100px;
   height: 100px;
   background: url("img/icon3.svg") 0 0/100% no-repeat;
}
.box {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px 0;
}
.about__box2.box {
   flex-direction: row-reverse;
}
.box__image-container {
   flex: 1 1 auto;
   display: flex;
   justify-content: center;
}
.box__image {
   height: 200px;
   width: 200px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.box__text {
   max-width: 700px;
   text-align: center;
   font-size: 1.5rem;
   line-height: 1.5;
   padding: 15px;
}
@media (max-width: 1087px) {
   .about__box1 .box__image::after, .about__box2 .box__image::before, .about__box3 .box__image::after {
      display: none;
   }
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
   .box {
      flex-direction: column;
   }
   .box__image {
      margin: 15px 0;
   }
   .about__box2.box {
      flex-direction: column;
   }
   .box__text {
      font-size: 1.25rem;
   }
}
/*===============================MAIN=SKILLS===================================*/
.skills {
   margin: 0px 0px 60px 0;
}
.block {
   display: flex;
   padding: 20px 0;
   justify-content: space-between;
   align-items: center;
}
.block__skill {
   flex: 1 1 auto;
   max-width: 900px;
   height: 50px;
}
.block__load {
   background: #E3CB9A;
   height: 100%;
   border-radius: 15px;
}
.block__name {
   font-size: 1.5rem;
   line-height: 1.5;
   font-weight: 700;
   padding: 0 0 0 10px;
   max-width: 200px;
   overflow-wrap: break-word;
}

@media (max-width: 991.98px) {
   .block {
      padding: 15px 0;
   }
}
@media (max-width: 767.98px) {
   .block {
      padding: 15px 0;
   }
   .block__skill {
      height: 40px;
   }
   .block__name {
      font-size: 1.25rem;
   }
}
/*===============================MAIN=PORTFOLIO===================================*/
.portfolio { 
   margin: 0px 0px 60px 0;
}
.portfolio__row {
   display: flex;
   justify-content: center;
   align-content: stretch;
   flex-wrap: wrap;
   padding: 15px 0;
   margin: -15px;
}
.web {
   flex: 1 1 47%;
   position: relative;
   margin: 15px;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
   border-radius: 15px;
   overflow: hidden;
}
.web img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}
.web:before {
   content: "";
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: 3;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.6);
   border-radius: 15px;
   display: block;
   visibility: hidden;
   opacity: 0;
   align-items: center;
   justify-content: center;
}
.web:after {
   content: "view project";
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 50%;
   left: 50%;
   min-width: 150px;
   min-height: 150px;
   background: #E3CB9A;
   border-radius: 50%;
   visibility: hidden;
   opacity: 0;
   z-index: 5;
   transform: translate(-50%, -50%);
}
.web:hover:before,
.web:hover:after {
   visibility: visible;
   opacity: 1;
   transition: opacity .3s ease-in;
}
@media (max-width: 479.98px) {
   .web {
      flex: 0 0 320px;
      height: 180px;
   }
}
/*===============================FOOTER===================================*/
.footer {
   margin: 0 auto;
   max-width: 800px;
}
.footer__title {
   padding: 10px 0px 30px 0px;
}
.footer__body {
   border: 4px solid #33272A;
   border-radius: 20px;
   padding: 40px 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 0 40px 0;
}
.footer__text {
   font-size: 1.5rem;
   line-height: 1.5;
   font-weight: 700;
   text-align: center;
   margin: 0 0 40px 0;
}
.footer__button {
   display: inline-block;
   padding: 15px 40px;
   background-color: #D8BB84;
   color: #fff;
   font-size: 2rem;
   line-height: 1.5;
   border-radius: 8px;
   margin: 0px 0px 60px 0px;
}
.footer__button:hover {
   background-color: #e94e58;
   transition: background-color .3s;
}
.footer__links {
   justify-content: center;
}
.footer__links .links__item {
   padding: 5px 20px;
}
@media (max-width: 991.98px) {
   .footer__body {
      padding: 30px 15px;
   }
   .footer__subtitle {
      margin: 0 0 20px 0;
   }
   .footer__button {
      margin: 0px 0px 40px 0px;
      font-size: 1.5rem;
   }
}
